<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.9.0" />
  <package id="HtmlElements" version="3.0.1" />
  <package id="Insight.Database.Providers.MySqlConnector" version="6.2.8" />
  <package id="MySql.Data" version="8.0.15" />
  <package id="Selenium.Support" version="3.7.0" />
  <package id="Selenium.WebDriver" version="3.7.0" />
</packages>